
/* ------------------ CSS RESET ------------------ */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif;
}

html, body {
  height: 100%;
}

img, svg {
   display: block;
   max-width: 100%;
}

/* ------------------ ROOT ------------------ */

:root {
    --white: #FDFEFE;
    --grey: #e5e5e5;
    --dark-grey: #9F9F9F;
    --pink: #F22C86;
    --orange: #FF8E17;
    --yellow: #FFBE3F;
    --purple: #9847D8;
    --light-blue: #53C8F8;
    --pink-purple-gradient: linear-gradient(to right bottom, #fb48a5, #e237aa, #c62bb0, #a525b4, #7d26b8);
}


/* ------------------ CONTAINER GRID ------------------ */

.container {
    display: grid;
    grid-template-columns: 200px 4fr;
    grid-template-rows: 0.5fr 4fr;
    height: 100%;
}


/* ------------------ HEADER ------------------ */

.header {
    grid-column: 1 / 3;
    background-color: var(--white);

    display: grid;
    grid-template-columns: 200px 4fr;
}

.title {
    display: flex;
    color: var(--white);
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    background-image: var(--pink-purple-gradient);
}

.title i {
    font-size: 1.6rem;
    color: var(--orange);
}

.flex-header {
    display: flex;
    justify-content: space-between;
}

.header-message {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 20px;
    color: var(--dark-grey);
    font-size: 1.3rem;
}

.message p:last-child {
    color: black;
}

.header-icons {
    display: flex;
    gap: 20px;
    padding: 20px;
    align-items: center;
}

.flex-header i {
    font-size: 20px;
}

.avatar {
    width: 35px;
}

.search-bar {
    width: 300px;
    height: 20px;
    border: none;
    border-radius: 15px;
    padding: 15px;
    background-color: var(--grey);
}

/* TOGGLE BUTTON */




/* ------------------ SIDEBAR ------------------ */

.sidebar {
    background-color: var(--white);
    padding: 15px;

    display: grid;
    grid-template-rows: 300px 300px;
    gap: 60px;
}

.sidebar-list {
    margin-top: 30px;
}

.sidebar i {
    font-size: 15px;
    padding-right: 12px;
    padding-left: 12px;
}

.sidebar li {
    list-style-type: none;
    margin-bottom: 30px;
    font-size: 0.9rem;
}

.sidebar-list ul li:hover {
    color: var(--pink);
 }

 .sidebar-list ul li:hover i {
    color: var(--pink);
 }


i {
    color: var(--dark-grey);
    cursor: pointer;
}

i:hover {
    color: var(--pink);
}


/* ------------------ MAIN CONTENT------------------ */


.main-content {
    background-color: var(--grey);
    padding: 30px;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 330px 150px 450px;
    gap: 20px;
}

.main-content div {
    background-color: var(--white);
}

/* CARDS */

.main-content > * {
    border-radius: 10px;
    padding: 30px;
    font-size: 0.8rem;
}

.card1-flex-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card1 {
    grid-column: 1 / 6;
}

.card1-section1 {
    display: flex;
}

.card1-text {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.card1-text p:last-child {
   color: var(--dark-grey);
   margin-bottom: 20px;
}

.card1-graph {
    display: flex;
    flex-direction: column;
    color: var(--dark-grey)
}

.card1-graph div:last-child {
    display: flex;
    justify-content: space-around;
}

.card1-section2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
}

.tab {
    display: flex;
    gap: 8px;
}

.tab p:first-child {
    color: var(--dark-grey);
}

.bold {
    font-size: 1.2rem;
    font-weight: bolder;
    color: black;
}


.tab-icon1 {
    color: var(--pink);
}

.tab-icon2 {
    color: var(--purple);
}

.tab-icon3 {
    color: var(--light-blue);
}

.tab-icon4 {
    color: var(--yellow)
}



/* CARD 2 */

.card2 {
    grid-column: 6 / 9;
}






.card3 {
    grid-column: 1 / 4;
}

.card4 {
    grid-column: 4 / 9;
}

.mini-cards {
    grid-column: span 2;
}


