
/* ------------------ CSS RESET ------------------ */

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

html, body {
  height: 100%;
}

/* ------------------ ROOT ------------------ */

:root {
    --white: #fafafa;
    --grey: #e5e5e5;
    --pink: #F22C86;
}


/* ------------------ CONTAINER GRID ------------------ */

.container {
    display: grid;
    grid-template-columns: 14% 4fr;
    grid-template-rows: 10% 4fr;
    height: 100%;
}

/* ------------------ HEADER ------------------ */

.header {
    grid-column: 1 / 3;
    background-color: var(--white);
}

/* ------------------ SIDEBAR ------------------ */

.sidebar {
    grid-row: 2 / 3;
    background-color: var(--white);
    border: 1px solid red;
    padding: 15px;

    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 50px;
}

.sidebar-list {
    margin-top: 30px;
}

.sidebar-list, .settings-list {
    display: flex;
    border: 1px solid red;
}

.sidebar li:hover {
   color: var(--pink);
   cursor: pointer;
}

.sidebar li {
    list-style-type: none;
    margin-bottom: 30px;
    font-size: 0.9rem;
    border: 1px solid red;
}

/* ------------------ MAIN CONTENT------------------ */

.main-content {
    background-color: var(--grey);
}